@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Karla:ital,wght@0,300;0,600;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Navbar for Home, Calculator, and Quote **/
.navbar {
  display: flex;
  align-items: center;
  height: 70px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 3rem;
}

.title-text {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  margin-right: auto;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list > li {
  font-size: 1.2rem;
  margin-right: 40px;
  cursor: pointer;
}

.title-text,
section {
  padding: 2rem;
}

/** Sections for Home, Calculator, and Quote **/
section > h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Inter', sans-serif;
  font-style: italic;
}

section > p {
  font-size: 1.3rem;
  line-height: 25px;
  margin-bottom: 1.5rem;
  font-family: 'Karl', sans-serif;
}

/** Section for Quote page **/
.quote {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.quote-msg {
  width: 40%;
  margin: auto;
  text-align: center;
}

/** Section for Calculator page **/
.cal-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.calc-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: minmax(4rem, auto) repeat(5, 6rem);
}

.calc-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #cbcacb;
  outline: none;
}

.calc-grid > button:hover,
.calc-grid > button:focus {
  background: #c0c1c3;
}

.operation {
  background: #f3913e;
}

.operation:hover,
.operation:focus {
  background: #df995e !important;
}

.span-two {
  grid-column: span 2;
}

.output-div {
  grid-column: 1 / -1;
  background: #848693;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  word-wrap: break-word;
  word-break: break-all;
}

.output {
  font-size: 2.5rem;
  color: #fff;
  padding-right: 10px;
}
